@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ProductViewModels)
            {
                <tr>
                    @* Link the product title to the product details page given the product ID *@
                    <td><a asp-page="./ProductDetails" asp-route-id="@product.Id">
                        <img src="data:image/png;base64,@Convert.ToBase64String(product.ThumbnailData!)" 
                             alt="Product Image - @product.Title"
                             class="img-thumbnail" style="max-height: 100px">
                        </a></td>
                    <td><a asp-page="./ProductDetails" asp-route-id="@product.Id">@product.Title</a></td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>@product.Rating</td>
                </tr>
            }
        </tbody>
    </table>
</div>