@page "{id:int?}"
@model Shamazon.Pages.ProductDetails
@{
    var title = "";
    if (Model.Id != null && Model.Product is null)
    {
        title = "Product Not Found";
    }
    else if (Model.Id is null)
    {
        title = "Product ID Missing!";
    }
    else
    {
        title = Model.Product!.Title;
    }
    ViewData["Title"] = title;    
}

@if (Model.Product is not null)
{
    <div class="container" xmlns="http://www.w3.org/1999/html">
    
        <div class="row">
            <!-- Product images -->
            <div class="col-5">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (var i = 0; i < Model.Product.ImageUrls.Count; i++)
                        {
                            @if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img src=@Model.Product.ImageUrls[i] class="d-block w-100" alt="@(Model.Product.Title + "Image " + i)">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src=@Model.Product.ImageUrls[i] class="d-block w-100" alt="@(Model.Product.Title + "Image " + i)">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        
            <!-- Basic product details -->
            <div class="col-4">
                <h2>@Model.Product.Title</h2>
                <p>⭐ @Model.Product.Rating / 5 | 🗣️ @Model.Product.Reviews.Count reviews</p>
                <hr />
                <h3><sup>$</sup>@Math.Floor(Model.Product.Price)<sup>@(Math.Floor((Model.Product.Price - Math.Floor(Model.Product.Price)) * 100))</sup></h3>
                <p><i>Discount of @(Model.Product.DiscountPercentage)%</i></p>
                <hr />
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Brand</th>
                        <td>@Model.Product.Brand</td>
                    </tr>
                    <tr>
                        <th scope="row">Category</th>
                        <td>@Model.Product.Category</td>
                    </tr>
                    <tr>
                        <th scope="row">Dimensions</th>
                        <td>@Model.Product.Dimensions.Width"W x @Model.Product.Dimensions.Height"H x @Model.Product.Dimensions.Depth"D</td>
                    </tr>
                    <tr>
                        <th scope="row">Weight</th>
                        <td>@Model.Product.Weight Pounds</td>
                    </tr>
                    </tbody>
                </table>
                <hr />
                <p><b>About this item</b></p>
                <p>@Model.Product.Description</p>        
            </div>
        
            <!-- Shipping and warranty information -->
            <div class="col-3">
                <div class="border border-1 rounded" style="padding: 0.5em">
                    <p class="@(Model.Product.AvailabilityStatus switch
                              {
                                  "In Stock" => "text-success",
                                  "Low Stock" => "text-warning",
                                  _ => "text-primary"
                              })">
                        <b>@Model.Product.AvailabilityStatus</b>
                    </p>
                    <p>We have @Model.Product.Stock in stock. You must order at least @Model.Product.MinimumOrderQuantity.</p>
                    <ul>
                        <li>@Model.Product.ShippingInformation</li>
                        <li>@Model.Product.WarrantyInformation</li>
                        <li>@Model.Product.ReturnPolicy</li>
                    </ul>
                </div>
            </div>
        </div>
 
        <hr />
    
        <div class="row">
            <div class="col-4">
                <h4>Product Details</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">SKU</th>
                        <td>@Model.Product.Sku</td>
                    </tr>
                    <tr>
                        <th scope="row">Tags</th>
                        <td>@foreach (var tag in Model.Product.Tags)
                            {
                                <span class="badge bg-secondary">@tag</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Created At</th>
                        <td>@Model.Product.Metadata!.CreatedAt</td>
                    </tr>
                    <tr>
                        <th scope="row">Updated At</th>
                        <td>@Model.Product.Metadata.UpdatedAt</td>
                    </tr>
                    <tr>
                        <th scope="row">Barcode</th>
                        <td>@Model.Product.Metadata.Barcode</td>
                    </tr>
                    <tr>
                        <th scope="row">QR Code</th>
                        <td><img src="@Model.Product.Metadata.QrCodeUrl" class="img-thumbnail" alt="Product QR Code" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-8">
                <h4>Reviews</h4>
                <div class="d-flex flex-row flex-wrap">
                    @foreach (var review in Model.Product.Reviews)
                    {
                        <div class="card me-2 mb-2 p-3" style="width: 18rem">
                        
                            <h5 class="card-title">⭐ @review.Rating out of 5</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@review.Date</h6>
                            <p class="card-text">@review.Comment</p>
                            <a href="mailto:@review.ReviewerEmail" class="card-link">@review.ReviewerName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="alert alert-warning col-4" role="alert">
            @if (Model.Id is null)
            {
                <p>We need a product ID to show details for it.</p>
            }
            else
            {
                <p>Hmmm... It seems that product (ID @Model.Id) doesn't exist.</p>
            }
        </div>
    </div>
}